/* COMMON */
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url(../images/anonymous-server-background.jpg);
    background-size: cover;
    background-position: center;
}

.page {
    padding: 0 30px;
    border: 1px solid beige;
    height: 100vh;
}
/* AÑADIR CUANDO SE PULSA BOTÓN MENÚ */
.hidden{
    display: none;
}
.page__menu-opened {
    background-color: rgba(36, 10, 10, 0.7);
}

@media all and (min-width:768px){
    .page {
        padding: 0 60px;
        max-width: 990px;
    }
}

/* HEADER */
.page__header {
    border: 1px solid lightblue;
    
}
.nav-trigger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 100%;
    transform: translateX(-100%);
    background-image: url(../images/ico-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(7, 7, 7, 0.7);
    border: none;
    color:transparent;
    height: 46px;
    width: 46px;
}
.nav-trigger:hover {
    border: none;
}

/* MENU */
/* QUITAR AL CONTENEDOR MADRE CUANDO SE PULSA BOTÓN ABRIR Y AÑADIR AL CERRAR */
.nav {
    display: none;
}
/* AÑADIR CUANDO SE PULSA EL BOTÓN ABRIR Y QUITAR AL CERRAR */
.nav__opened {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}
/* .nav__items {}
.nav__item {}
.nav__link {} */
.nav-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin-left: 80%;
    /* position: relative;
    right: -320px;
    margin-top: 15px; */
    transform: translateX(-100%);
    background-image: url(../images/ico-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(7, 7, 7, 0.7);
    border: none;
    color:transparent;
    height: 46px;
    width: 46px;
}




/* MAIN */
/* .page__main {}
.page__wrapper {}
.page__main-title {} */



/* 
FOOTER */
/* .page__footer {}
.page__footer {}
.page__footer-copy {} */ */
